{% extends 'base.html.twig' %}

{% block body %}
    <main class="my-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Регистрация</div>
                        <div class="card-body">
                            {{ form_start(registrationForm, {
                                attr: {class: 'form-signin'}
                            }) }}
                            {{ form_row(registrationForm.email, {
                                attr: {placeholder: 'Ваш email'},
                                label_attr: {class: 'sr-only'}
                            }) }}
                            {{ form_row(registrationForm.firstName, {
                                attr: {placeholder: 'Ваше имя'},
                                label_attr: {class: 'sr-only'}
                            }) }}
                            {{ form_row(registrationForm.plainPassword, {
                                attr: {placeholder: 'Введите пароль'},
                                label_attr: {class: 'sr-only'}
                            }) }}
                            {{ form_row(registrationForm.agreeTerms, {
                                label: 'Согласен с условиями',
                            }) }}


                                <button type="submit" class="btn btn-primary btn-block">
                                    Зарегистрироваться
                                </button>

                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block title %}
    Регистрация
{% endblock %}

