{% extends 'base.html.twig' %}

{% block title %}
    Главная
{% endblock %}
{% block body %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Главная страница</h1>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="container marketing">
    <div class="row">
        {% for article in articles %}
            <div class="col-lg-6">
                <h2>{{ article.title }}</h2>
                {% include 'partial/article_tags.html.twig' with {tags: article.tags} %}
                <p class="btn-info">Комментариев: {{ article.nonDeletedComments|length }}</p>
                <span>{{ article.publishedAt ? article.publishedAt|ago }}</span>
                <p>{{ article.body|u.truncate(100, '...')|cached_markdown }}</p>
                <p><a class="btn btn-secondary" href="{{ path('app_article', {slug: article.slug}) }}">Читать</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}