{% extends  'base.html.twig' %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block body %}
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">

            </div>
        </header>
    </div>

    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">{{ article.title }}</h1>
                {% include 'partial/article_tags.html.twig' with {tags: article.tags} %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <article class="blog-post">
                    <p class="blog-post-meta">{{ article.publishedAt ? article.publishedAt|ago : 'Неопубликована' }}
                        <a href="#">{{ article.author.firstName }}</a></p>
                    {{ article.body|cached_markdown }}
                </article><!-- /.blog-post -->
            </div>
        </div><!-- /.row -->
        <div class="comments">
            <h3 class="title-comments">Комментарии ({{ article.nonDeletedComments|length }})</h3>
            <ul class="media-list">
                {% for comment in article.nonDeletedComments %}
                    <!-- Комментарий (уровень 1) -->
                    <li class="media">
                        <div class="media-left">
                            <img class="img-thumbnail rounded-circle" width="80" height="80" src="{{ asset('images/cat.jpg') }}" alt="">
                        </div>
                        <div class="media-body">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="author">{{ comment.authorName }}</div>
                                    <div class="metadata">
                                        <span class="date">{{ comment.createdAt|ago }} {% if comment.deletedAt %} <span
                                                    style="color: red">Удален</span> {% endif %}</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="media-text text-justify">{{ comment.content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Конец комментария (уровень 1) -->
                {% endfor %}
            </ul>
        </div>
    </main><!-- /.container -->
{% endblock %}