{% extends 'base.html.twig' %}

{% block title %} Редактирование статьи {% endblock %}

{% block body %}
    <div class="container">
        {% if showError %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        Не удалось изменить статью
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row">
            <div class="col-12">
                <div class="p-4 border rounded-lg mb-4 shadow-sm bg-white">
                    <h1>Редактирование статьи</h1>
                    {% include 'admin/articles/form.html.twig' with {button_text: 'Изменить'} %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}