{{ form_start(articleForm) }}
{# {{ form_widget(articleForm) }} #}
    {{ form_row(articleForm.title, {
        label: 'Заголовок статьи'
    }) }}
    {{ form_row(articleForm.body, {
        label: 'Текст статьи'
    }) }}
    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt, {
            label: 'Дата публикации'
        }) }}
    {% endif %}
    {{ form_row(articleForm.author, {
        label: 'Автор'
    }) }}
<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}