{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Управление статьями ({{ pagination.totalItemCount }})</h2>
    <br>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Заголовок</th>
                <th scope="col">Автор</th>
                <th scope="col">Опубликована</th>
                <th scope="col">Опубликована</th>
            </tr>
            </thead>
            <tbody>
            {% for article in pagination %}
                <tr>
                    <th scope="row"><a
                                href="{{ path('app_article', { slug: article.slug }) }}">{{ article.title }}</a>
                    </th>
                    <td>{{ article.author.firstName}}</td>
                    <td><i class="fas fa-{{ article.isPublished ? 'check' : 'times' }}"></i> {{ article.isPublished ? 'Да' : 'Нет' }}</td>
                    <td><a href="{{ path('admin_articles_edit', {id: article.id}) }}">Редактировать</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>Нет статей</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block title %}
    Список статей
{% endblock %}

