<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap"
              rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="alert alert-warning">
        Имперсонализация включена. <a href="{{ path('app_homepage', {'_switch_user': '_exit' }) }}">Выйти</a>
    </div>
{% endif %}
<nav class="navbar navbar-light bg-light">
    {% if (app.request.pathInfo != "/") %}
        <a href="{{ path('app_homepage') }}" class="btn btn-dark"> На главную </a>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        {% if is_granted('ROLE_ADMIN_COMMENTS') %}
            <div class="float-left">
            <a href="{{ path('admin_comments') }}" class="btn btn-outline-info my-2 my-sm-0" type="submit">Управление
                комментариями</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_ARTICLE') %}
            <a href="{{ path('admin_articles_create') }}" class="btn btn-outline-info my-2 my-sm-0" type="submit">Создать
                статью</a>
            </div>
        {% endif %}

        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <img src="{{ app.user.avatarUrl(50) }}" class="rounded-circle" alt="User-Profile-Image">
            </button>
            <div class="dropdown-menu">
                <a href="{{ path('app_account') }}" class="dropdown-item" type="submit">Личный
                    кабинет</a>
                <a href="{{ path('app_logout') }}" class="dropdown-item btn-danger" type="submit">Выйти</a>
            </div>
        </div>
    {% else %}
        <form class="form-inline">
            <a href="{{ path('app_login') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</a>
            <a href="{{ path('app_register') }}" class="btn btn-outline-info my-2 my-sm-0" type="submit">Регистрация</a>
        </form>
    {% endif %}

</nav>
{% if app.session.flashBag.peek('flash_message')|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success" role="alert">
                    {% for message in app.flashes('flash_message') %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% block body %}{% endblock %}
</body>
</html>
