{% extends 'base.html.twig' %}

{% block title %}Управление комментариями{% endblock %}


{% block body %}
    <h2 class="text-center">Управление комментариями ({{ pagination.totalItemCount }})</h2>
    <br>
    <div class="container">
        <form>
            <div class="input-group">
                <input
                        type="text"
                        name="q"
                        class="form-control rounded"
                        placeholder="Найти..."
                        value="{{ app.request.query.get('q') }}"
                />
                <button type="submit" class="btn btn-outline-primary">Поиск</button>
                <br>
                <div class="input-group">
                    <div class="form-check">
                        <input
                                type="checkbox"
                                name="showDeleted"
                                class="form-check-input"
                                {% if app.request.query.has('showDeleted') %} checked {% endif %}
                        />
                        <label class="form-check-label"> Показать удаленные комментарии </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Статья</th>
                <th scope="col">Автор</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination %}
                <tr>
                    <th scope="row"><a
                                href="{{ path('app_article', { slug: comment.article.slug }) }}">{{ comment.article.title }}</a>
                    </th>
                    <td>{{ comment.authorName }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt|ago }} {% if comment.deleted %} <span
                                style="color: red"> Удален </span> {% endif %}</td>
                </tr>
            {% else %}
                <tr>
                    <td>По запросу ничего не найдено</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}
